<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<div class="page">
    <header>
                <ul>
                    <li><a href="/"><img src="{% static 'img/logo.png' %}" height="100px"></a></li>
                    <li><a href="/">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'add_article' %}">ДОБАВИТЬ СТАТЬЮ</a></li>
                    <li><a href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">РЕГИСТРАЦИЯ</a></li>
                    <li><a href="#">ВОЙТИ</a></li>
                </ul>
    </header>
    <main>
        <div class="feed">
            <section class="articles">
                {% block content %}

                {% endblock %}
            </section>

        </div>
    </main>
</div>




</body>
</html>